
* {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #616e83;
  }
  
.text {
  position:absolute;
  z-index: 10;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-align: justify;
  padding-right: 20px;
  margin-top: 0;
  left: 70%;
  }

a {
  text-decoration: none;
  color: black;
  color: yellow;
  }

model-viewer {
  width: 100%;
  height: 900px;
  }

model-viewer:focus {
  outline: none;
}